main {
    background-color: var(--background-color);

}

main .container {
    padding-block: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

main img {
    width: 286px;
    height: 286px;
    object-fit: cover;
}