nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0;


    .logo {
        display: flex;
        align-items: center;
        gap: 8px;
        a {
            display: flex;
            align-items: center;
            gap: 8px;
            text-decoration: none;

            span {
                font-size: 20px;
                color: var(--brand-color);
                font-weight: bold;
                line-height: 160%;
            }
        }
    }

    .primary-menu {
            display: flex;
            list-style: none;
            align-items: center;
            gap: 16px;
            padding-block: 8px;

        li {
            padding: 4px;
        }

        li:last-child img{
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
        }

        
    }

}